@model BEPZA_MEDICAL.Web.Areas.CPF.Models.GratuityInterestRate.GratuityInterestRateModel
@using BEPZA_MEDICAL.Web.Helpers

<div class="GroupBox" id="message">
    @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
</div>

<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.PeriodId)
            <label style='color: red'>*</label>
        </span>
        <span class="field">
            @Html.DropDownListFor(m => m.PeriodId, Model.PeriodList, @String.Format("{0}", Content.DDLOptionalLabel()))
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.InterestRate)
            <label style='color: red'>*</label>
        </span>
        <span class="field">
            @Html.EditorFor(model => model.InterestRate)
        </span>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

    function showErrMsg() {
        if ('@Model.IsError' == "1") {
            var msg = '@Model.ErrMsg'.replace(/#/gi, "<br/>* ");
            $("#message").html("<b>" + msg + "</b>").css("color", "red");
        }
    }

</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#SalaryFrom, #SalaryTo, #PercentOfSalary, #MinHouseRent, #MaxHouseRent ").keydown(function (event) {

            if (event.keyCode == 46 || event.keyCode == 8
                || event.keyCode == 9 || event.keyCode == 27
                || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true)
                || (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            }
            else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });

</script>