@model BEPZA_MEDICAL.Web.Areas.INV.ViewModel.RequisitionDetailViewModel

@using BEPZA_MEDICAL.Web.Helpers

<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("RequisitionDetail"))
    {
        if (@Model != null)
        {
            @Html.HiddenFor(model => model.RequisitionId)
        }
        <td style="text-align: left;">
            <span class="item-id-info">
                @Html.HiddenFor(model => model.ItemId)
            </span>
            @Html.HiddenFor(model => model.Item)
            <a href="#" class="editRow" title="edit" style="border: none; color: #000000; ">
                @Html.Encode(Model.Item)
            </a>
        </td>
        <td style="text-align: right;">
            @Html.HiddenFor(model => model.Unit)
            @Html.Encode(Model.Unit)
        </td>
        <td style="text-align: right;">
            @Html.HiddenFor(model => model.Quantity)
            @Html.Encode(Model.Quantity)
        </td>
        <td style="text-align: left;">
            @Html.HiddenFor(model => model.Comment)
            @Html.Encode(Model.Comment)
        </td>
        <td>
            <a href="#" class="deleteRow" title="delete">
                <img src='@Url.Content("~/Content/Images/Delete.png")' alt="Delete" style="border: none; " />
            </a>
        </td>
    }
</tr>

<script type="text/javascript">
    $('table tbody tr .editRow').click(function () {

        var quantity = $(this).closest('tr').find('td').eq(2).find('input').val();
        var comment = $(this).closest('tr').find('td').eq(3).find('input').val();
        var itemId = $(this).closest('tr').find('td .item-id-info').eq(0).find('input').val();

        $('#ItemId').val(itemId);
        $('#CommentDetail').val(comment);
        $('#Quantity').val(quantity);

        $('#ItemId').trigger('change');

        $(this).closest('tr').remove();

        return false;
    })

    $('table tbody tr .deleteRow').click(function(){
        $(this).closest('tr').remove();
        return false;
    })
</script>