@model ERP_BEPZA.Web.Areas.AMS.Models.ShiftRoster.ShiftRosterModel
@using ERP_BEPZA.Web.Helpers
@*@if (Model != null && Model.ShiftRoster != null)
{
    foreach (var x in Model.ShiftRoster)
    {
        @Html.Partial("_PartialDetail", x);
    }

}*@
<tr class="tr_clone">
    <td width="20%" style="text-align: center">
        @Html.DropDownListFor(x => x.SourceShift, Model.SourceShiftList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @style = "width:100%" })

    </td>
    <td width="20%" style="text-align: center">
        @Html.DropDownListFor(x => x.NextShift, Model.NextShiftList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @style = "width:100%" })
    </td>
</tr>