@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.ClearanceInfoFromMinistryViewModel
@using BEPZA_MEDICAL.Web.Helpers

<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("JobRequisitionClearanceList"))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.RequisitionInfoApprovalDetailId)
        @Html.HiddenFor(x => x.DesignationId)

        <td style="width: 30px; text-align: center ">
                @Html.CheckBoxFor(x => x.IsCheckedFinal, new { @class = "rchkFinal2" })
        </td>
        <td width="15%" style="text-align: center">
            @Html.Encode(Model.RequisitionNo)
        </td>
        <td width="15%" style="text-align: center">
            @Html.Encode(Model.Designation)
        </td>
        <td width="15%" style="text-align: center">
            @Html.Label(Model.PayScale)
        </td>
        <td width="15%" style="text-align: center">
            @Html.Encode(Model.DepartmentName)
        </td>
        <td width="15%" style="text-align: center">
            @Html.Encode(Model.SectionName)
        </td>
        <td width="10%" align="center">
            @Html.Encode(Model.ApprovedPost)
        </td>
        <td width="10%" align="center">
            @Html.TextBoxFor(x => x.ClearancePost)
        </td>

        <td width="5%">
            <a href="#" class="deleteRow" title="delete" onclick="RemoveDb(this,@Model.Id,'@Url.Action("DeleteDetail")')">
                <img src='@Url.Content("~/Content/Images/Delete.png")' alt="Delete" style="border: none; " />
            </a>
        </td>
    }
</tr>
<script type="text/javascript">


    FormatTextBox();
</script>
