@model BEPZA_MEDICAL.Web.Areas.WFM.ViewModel.CycleViewModel

@{
    Layout = null;
}

<div id="message" class="form-group messageBox clearfix">
    @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
    @if (!string.IsNullOrEmpty(Model.ErrMsg))
    {
        <div id="ErrMsg" class="@Model.errClass">
            @Model.ErrMsg
        </div>
    }
</div>
<fieldset>
    <legend>Cycle Info</legend>

    <div class="form-horizontal">
        <div class="form-group" style="display:none">
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CycleName, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-10 ddf">
                @Html.TextBoxFor(model => model.CycleName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FromMonth, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.FromMonth, Model.FromMonthList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ToMonth, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.ToMonth, Model.ToMonthList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control" })
            </div>
        </div>
    </div>
</fieldset>