@model MFS_IWM.Web.Areas.PRM.ViewModel.DivisionHeadMapingViewModel
@using MFS_IWM.Web.Helpers
@*<script src="@Url.Content("~/Scripts/listEditor.js")" type="text/javascript"></script>*@
<style>
    .TextArea
    {
        width: 600px;
    }
</style>
<script type="text/javascript">

    $(function () {

        if ('@Model.ActionType' == 'Edit') {
            $('#btnSave').hide();
            $('#btnUpdate').show();
            $('#btnClear').hide();
        }
        else {
            $('#btnUpdate').hide();
        }

        $("#btnClear").live("click", function () {
            var url = '@Url.Action("Index", new { })';
            window.location.href = url;
        });
    });

    $(function () {
        $(".addItem").click(function () {
            $(".validation-summary-errors ").empty();
        });
    });
    // ******** functions for open popup *************
    $(document).ready(function () {

        $("#divEmpList").dialog({ autoOpen: false, modal: true, height: 500, width: 850, title: 'Employee', beforeclose: function (event, ui) { Closing(); } });
        showErrMsg();
        DisableEmpSearch();
    });

    function showErrMsg() {
        if ('@Model.IsError' == "1") {
            var msg = '@Model.ErrMsg'.replace(/#/gi, "<br/>* ");
            $("#message").html("<b>" + msg + "</b>").css("color", "red");
        }
    }

    function DisableEmpSearch() {
        if ($('#Id').val() > 0)
            $('#imgEmpSearch').hide();
        else $('#imgEmpSearch').show();
    }

    function openEmployee() {
        var url = '@Url.Action("EmployeeSearch","Employee")';
        $.ajax({
            url: url,
            data: { searchEmpType: 'active' },
            type: 'POST',
            dataType: 'text',
            timeout: 50000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
            
                $('#divEmpList').html(result);
            }
        });

        $("#divEmpList").dialog('open');
        return false;
    }

    function setData(id) {
        $('#EmployeeId').val(id)
        GetEmployeeInfo();
        $("#divEmpList").dialog('close');
    }


    function Closing() {

    }
    // ---------------------------------   

    function GetEmployeeInfo() {
        var empId = $('#EmployeeId').val();
        var url = '@Url.Action("GetEmployeeInfo","EmployeeTransferInfo")';
        var form = $('#frm');
        var serializedForm = form.serialize();

        $('#EmpId').val('');
        $('#EmployeeInitial').val('');
        $('#EmployeeName').val('');
        $('#Designation').val('');
        

        if (empId > 0) {
            $.post(url, serializedForm, function (obj) {
                $("#EmpId").val(obj.EmpId);
                $("#EmployeeInitial").val(obj.EmployeeInitial);
                $("#Designation").val(obj.Designation);                
                $('#EmployeeName').val(obj.EmployeeName);             
            }, "json");
        }
        return false;
    } 

</script>
<div>
   @* @using (Html.BeginForm(Model.ActionType, "Designation", FormMethod.Post, new { id = "frm" }))
    {  *@
        <div class="GroupBox" style="max-height: 15px" id="message">
            @Html.ValidationSummary(false, MFS_IWM.Web.Utility.Common.ValidationSummaryHead)
        </div>

        <div class="GroupBox">
            <div class="row emp">
                <span class="label">
                    @Html.LabelFor(model => model.EmpId)
                </span><span class="field">
                    @Html.HiddenFor(model => model.EmployeeId)
                    @Html.TextBoxFor(model => model.EmpId, new { @class = "read-only", @style = "width:150px", @readonly = true })
                    <img src='@Url.Content("~/Content/Images/btn_search.gif")' id="imgEmpSearch" alt="Search" onclick="return openEmployee();" />
                </span><span class="label-right">
                    @Html.LabelFor(model => model.EmployeeInitial)
                </span><span class="field">
                    @Html.TextBoxFor(model => model.EmployeeInitial, new { @class = "read-only", @readonly = true })
                </span>
            </div>
            <div class="row emp">
                <span class="label">
                    @Html.LabelFor(model => model.EmployeeName)
                </span><span class="field">
                    @Html.TextBoxFor(model => model.EmployeeName, new { @class = "read-only", @readonly = true })
                </span><span class="label-right">
                    @Html.LabelFor(model => model.Designation)
                </span><span class="field">
                    @Html.TextBoxFor(model => model.Designation, new { @class = "read-only", @readonly = true })
                </span>
            </div>
        </div>
        <div class="GroupBox">
            <div class="row">
                <span class="label">@Html.LabelFor(model => model.DivisionList)
                    <label style='color: red'>
                        *</label></span><span class="field">
                            @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "required" })
                        </span>
            </div>
            <div class="clear">
            </div>
        </div> 
        <div class="GroupBox">
            <div class="button-crude">
                @if ((new MFS_IWM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
                }
                <input type="button" value="Clear" id="btnClear" name="btnClear" onclick="document.getElementById('frm').reset();" />
            </div>
            <div class="clear">
            </div>
        </div>       

   @* }*@
</div>
<div id="divEmpList">
    <iframe id="styleAdvance" src="" width="90%" height="80%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.</p>
    </iframe>
</div>
