@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.RequestedApplication.RequestedApplicationViewModel
@using BEPZA_MEDICAL.Web.Helpers

@using (Html.BeginForm("InvScrapItemExecuteApproval", "Approval", FormMethod.Post, new { id = "frm", @encType = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ApprovalProcessId)
    @Html.HiddenFor(m => m.RequestedAmount)
    @Html.HiddenFor(m => m.NextStepName)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Employee ID", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Application.ApplicantEmployeeId, new { @readonly = true })
            </div>
            @Html.Label("Scrap Date :", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Application.ApplicationDate, "{0:dd-MMMM-yyyy}", new { @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Name", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Application.ApplicantName, new { @readonly = true })
            </div>
            @Html.Label("Scrap #", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Application.ApplicationNo, new { @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Department", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Application.ApplicantDepartment, new { @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Designation", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Application.ApplicantDesignation, new { @readonly = true })
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Item Info</legend>
        <table id="grid" class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        Requested Quantity
                    </th>
                    <th>
                        Recommend/Approve Quantity
                    </th>
                    <th>
                        Unit
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.INVRequisitionDtlList.Count; i++)
                {
                    var item1 = Model.INVRequisitionDtlList.ToList()[i];
                    <tr>
                        <td style="display: none;">
                            @Html.HiddenFor(m => m.INVRequisitionDtlList[i].Id)
                        </td>
                        <td style="display: none;">
                            @Html.HiddenFor(m => m.INVRequisitionDtlList[i].ItemId)
                        </td>
                        <td style="display: none;">
                            @Html.HiddenFor(m => m.INVRequisitionDtlList[i].RequisitionId)
                        </td>
                        <td>
                            <label> @item1.ItemName</label>
                        </td>
                        <td>
                            <label> @item1.Comment</label>
                        </td>
                        <td style="width:20%">
                            <label> @item1.Quantity</label>
                        </td>
                        <td style="width:30%">
                            @Html.TextBoxFor(m => m.INVRequisitionDtlList[i].RecommendQuantity)
                        </td>
                        <td style="text-align:left">
                            <label> @item1.Unit</label>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </fieldset>


    <div class="col-sm-12" style=" margin:50px 0 20px 0;">
        <div class="col-sm-2">@Html.LabelFor(m => m.ApproverComments)</div>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.ApproverComments, new { @class = @"form-control" })
        </div>
    </div>
    if (Model.IsConfigurableApprovalFlow)
    {
        <div id="dvForward" class="col-sm-12" style="margin-bottom:20px;">
            <div class="col-sm-2">
                Forward To
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.ApproverId, @Model.NextApproverList, new { @class = @"form-control" })
            </div>
        </div>
    }
    else
    {
        <div id="dvForward" class="col-sm-12" style="margin-bottom:20px;">
            @Html.HiddenFor(model => model.ApproverId)
            @Html.LabelFor(model => model.SignatoryEmpId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.SignatoryEmpId, new { @style = "width:130px", @class = "form-control read-only required", @readonly = true })
            </div>
            <div class="col-sm-2">
                <img src='@Url.Content("~/Content/Images/btn_search.gif")' id="imgEmpSearch" alt="Search" onclick="return openEmployee();" />
            </div>
        </div>
        <div id="dvSuggest" class="col-sm-12" style="margin-bottom:20px;">
            @Html.LabelFor(model => model.SignatoryEmpName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.SignatoryEmpName, new { @class = "form-control read-only", @readonly = true })
            </div>
        </div>
        <div id="dvSuggest" class="col-sm-12" style="margin-bottom:20px;">
            @Html.LabelFor(model => model.SignatoryEmpDesignation, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.SignatoryEmpDesignation, new { @class = "form-control read-only", @readonly = true })
            </div>
        </div>
    }
    <div class="col-sm-12 approval-action-area" style="text-align:center;">
        <button class="btn btn-sm btn-info" id="btnRecommend"><i class="fa fa-edit"></i> Recommend</button>
        <button class="btn btn-sm btn-success" id="btnApprove"><i class="fa fa-save"></i> Approve</button>
        <button class="btn btn-sm btn-danger" id="btnReject"><i class="fa fa-recycle"></i> Reject</button>
    </div>

    <fieldset>
        <legend>Approval History</legend>
        @if (Model.ApprovalHistory != null && @Model.ApprovalHistory.Count > 0)
        {
            @Html.Partial("_ApprovalHistory", @Model.ApprovalHistory)
        }
    </fieldset>

}
<div id="divEmpList">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#divEmpList").dialog({ autoOpen: false, modal: true, height: 600, width: 900, title: 'Employee', beforeclose: function (event, ui) { Closing(); } });
        });

    function openEmployee() {
        var url = '@Url.Action("EmployeeSearch", "OnlineWelfareFundApplicationInformation")?UseTypeEmpId=1';
        url = url.replace('PRM', 'WFM');

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'text',
            timeout: 5000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
                $('#divEmpList').html(result);

            }
        });

        $("#divEmpList").dialog('open');
        return false;
    }

       function setEmpData(id) {
        $('#ApproverId').val(id)
        GetEmployeeInfo();
        $("#divEmpList").dialog('close');
        }

    function GetEmployeeInfo() {
        var empId = $('#ApproverId').val();
        var url = '@Url.Action("GetEmployeeInfo", "OnlineWelfareFundApplicationInformation")';
        url = url.replace('PRM', 'WFM');

        if (empId > 0) {
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            data: { employeeId: empId },
            timeout: 5000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
                $("#SignatoryEmpId").val(result.EmpID);
                $('#SignatoryEmpName').val(result.EmployeeName);
                $("#SignatoryEmpDesignation").val(result.Designation);
            }
        });
        }
        return false;
    }
    function Closing() {

    }

    function GetLoggedInZoneId() {
        var url = '@Url.Action("GetLoggedZoneId", "ApprovalFlow")';
        $.ajax({
            url: url,
            type: 'POST',
            dataType: "json",
            cache: false,
            success: function (data) {
                return data;
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var stepName = '@Model.NextStepName';
        if ('@Model.IsConfigurableApprovalFlow' == 'True') {
            if (stepName == "Recommendation") {
                $('#btnApprove').hide();
            }
            else {
                $('#btnRecommend').hide();
                $('#dvForward').hide();
            }
        }
        });

        $('#btnApprove').on('click', function () {
            var action = "Approved";
            $("#NextStepName").val(action);
        })

        $('#btnReject').on('click', function () {
            var action = "Reject";
            $("#NextStepName").val(action);
        })

        $('#btnRecommend').on('click', function () {
            var action = "Recommend";
            $("#NextStepName").val(action);
        })

</script>

<style type="text/css">
    input[readonly] {
        border: 1px solid #CFCFCF !important;
        background-color: #e6e6fa;
        border: 0;
        font-size: 1em;
        cursor: not-allowed;
    }

    .form-group {
        margin: 2px 10px;
    }

    .control-label {
        color: #000000;
    }

    .approval-action-area .btn {
        min-width: 120px;
    }
</style>