@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.CommonConfigViewModel
@using BEPZA_MEDICAL.Web.Helpers
<script type="text/javascript">

    $(function () {
        $(".addItem").click(function () {
            $(".validation-summary-errors ").empty();
        });
    });

</script>

<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Name)
            @Html.HiddenFor(model => model.Id)
            <span style='color: red'>*</span>
        </span>
        <span class="field">
            @Html.EditorFor(model => model.Name, new { @maxlenght = "100", @class = "required" })
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.SortOrder)
            <span style='color: red'>*</span>
        </span><span class="field">
            @Html.TextBoxFor(model => model.SortOrder, new { @class = "required", @style = "width:30px" })
        </span>
    </div>
    <div class="row">
        <span class="label">@Html.LabelFor(model => model.Remarks) </span>
        <span class="field">
            @Html.TextAreaFor(model => model.Remarks, new { @maxlenght = "100" })
        </span>
    </div>
    <div class="clear">
    </div>
</div>

<div class="GroupBox">

    <div class="button-center buttonSubmit">
        @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
        {
            <input type="submit" value="Save" id="btnSave" name="btnSubmit" />
        }

        @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsEditAssigned)
        {
            <input type="submit" value="Update" id="btnUpdate" name="btnSubmit" />
        }

        <input type="button" value="Clear" id="btnClear" name="btnSubmit" />
    </div>

</div>
