@model ERP_BEPZA.Web.Areas.CPF.Models.LoanApplication.LoanApplicationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/CPF/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ApprovalAction", "LoanApproval", FormMethod.Post, new { id = "frm" }))
{
   
    <fieldset>
        <div class="GroupBox message" id="message" style="min-height: 15px;">
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div style="color:Red" class="@Model.ErrMsg">
                    @Model.ErrMsg
                </div>
            }
            @Html.ValidationSummary(false, ERP_BEPZA.Web.Utility.Common.ValidationSummaryHead)
        </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ApprovalPathId)
        @Html.HiddenFor(model => model.ApprovalActionId)
        @Html.HiddenFor(model => model.PreviousStepId)
        @Html.HiddenFor(model => model.ApplicationStatusId)

        <div id="appDiv">
            @Html.Partial("_CreateOrEdit", Model)
        </div>
        <div class="button-center buttonSubmit">
          
            @if (Model.ApprovalActionId == 3)
            {
                <input type="submit" value="Review" id="btnReview" name="btnReview" style="margin-right: 8px;" />
            }
            @if (Model.ApprovalActionId == 4) 
            {
                <input type="submit" value="Approve" id="btnApprove" name="btnApprove" style="margin-right: 8px;" />
            } 
            @if (Model.ApprovalActionId >= 3 && Model.ApprovalActionId <= 4) 
            {
                <input type="submit" value="Reject" id="btnReject" name="btnReject" style="margin-right: 8px;" />
            }
        </div>

        @*<div class="button-crude">
            @if ((new ERP_BEPZA.Web.Utility.AppConstant()).IsAddAssigned)
            {

                if (Model.ApplicationStatusId == 2)
                {
           
                <input type="submit" value="Reviewed" id="btnReview" name="btnReview" style="margin-right: 8px;" />
                }
                if (Model.ApplicationStatusId == 3)
                {
                <input type="submit" value="Approved" id="btnApproved" name="btnApproved" style="margin-right: 8px;" />            
                }

                if (Model.ApplicationStatusId >= 2 && Model.ApplicationStatusId < 5)
                {
                <input type="submit" value="Reject" id="btnReject" name="btnReject" style="margin-right: 8px;" />
                }
            }
        </div>*@
    </fieldset>
}
<div class="button-crude button-left">
    <span></span>
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="row" style="padding: 10px">
    @Html.CheckBox("ShowApproval")<b style="color: #3C78B5; vertical-align: top; padding: 2px">
        View Approval History</b>
    <div class="PS">
    </div>
    <div class="History" style="display: none">
        <div class="GroupBox">
            <div class="row">
                <table>
                    @if (Model.ApprovalPathList != null && Model.ApprovalPathList.Count > 0)
                    {
                        foreach (var approvalObj in Model.ApprovalPathList)
                        {
                        <tr>
                            <td>
                                <span style="color: #3C78B5; margin: 0 0 0 38px; overflow: visible; text-align: left;
                                    vertical-align: middle;">@Html.Encode(approvalObj.Status)
                                    by</span>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span>@Html.Encode(approvalObj.ApprovedBy)</span>
                            </td>
                            <td>
                                <span style="color: #3C78B5; overflow: visible; margin: 0 0 0 38px; text-align: left;
                                    vertical-align: middle;">Submission Date :</span>
                            </td>
                            <td>
                                <span>@Html.Encode(approvalObj.ApprovedDate)
                                </span>
                            </td>
                            <td>
                                <span style="color: #3C78B5; overflow: visible; margin: 0 0 0 38px; text-align: left;
                                    vertical-align: middle;">Status :</span>
                            </td>
                            <td>
                                <span>@Html.Encode(approvalObj.Status)
                                </span>
                            </td>
                            <td>
                                <span style="color: #3C78B5; float: left; margin: 0 0 0 38px; overflow: visible;
                                    text-align: left; vertical-align: middle;">Comment :</span>
                            </td>
                            <td>
                                <span>@Html.Encode(approvalObj.Comments)</span>
                            </td>
                        </tr>
                   
                        }
                    }
                </table>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        if ('@Model.Mode' == "Edit") {

            $('.hideButton').find('#LoanRequestDate').attr('readonly', true).css('background-color', '#F2F5F8');
            $('.hideButton').find('.field img').hide();
        }
    });

    $("#btnReview, #btnApprove, #btnReject").click(function () {
        var Reason = $.trim($('#Comments').val());
        $('#Comments').css("borderColor", "");

        if (Reason == '') {
            $('#Comments').css("borderColor", "red");
            return false;
        }
    });

   
    $('#btnReview').live('click', function () {
        $('#ApprovalActionId').val(3);
    });

    $('#btnApprove').live('click', function () {
        $('#ApprovalActionId').val(4);

    });

    $('#btnReject').live('click', function () {

        $('#ApprovalActionId').val(5);

    });

    $("#ShowApproval").click(function () {
        $(".History").toggle("slow");
    });
</script>
