@model BEPZA_MEDICAL.Web.Areas.FMS.ViewModel.CPFInterestReceivableViewModel
@using BEPZA_MEDICAL.Web.Helpers
@{
    Layout = null;
}

<div id="message" class="form-group messageBox clearfix">
    @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
    @if (!string.IsNullOrEmpty(Model.ErrMsg))
    {
        <div id="ErrMsg" class="@Model.errClass">
            @Model.ErrMsg
        </div>
    }
</div>

<div class="form-horizontal">
    <fieldset>
        <legend> Interest Receive Info.</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.FinancialYearId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.FinancialYearId, Model.YearList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control chosen-ddl" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FixedDepositInfoId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.FixedDepositInfoId, Model.FDRNoList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control chosen-ddl" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DistributedAmount, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.DistributedAmount, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 mydate">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicableMonth, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.ApplicableMonth, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OtherExciseDuty, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.OtherExciseDuty, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApproxInterestDuring, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.ApproxInterestDuring, new { @class = "form-control" })
            </div>
        </div>

   </fieldset>
</div>

<script type="text/javascript">

    //cascading dropdown
    $("#FinancialYearId").on('change', function () {
        GetStartDate($(this).val());
    });

    // bank brances
    function GetStartDate(financialYearId) {

        if (financialYearId != '') {
            $('.mydate').empty();
            $.getJSON('@Url.Action("GetFinancialYearDate")', { id: financialYearId }, function (branchs) {
                $('.mydate').append('<level> upto : '+branchs+'</level>')
            });
        }
    }
</script>