@model BEPZA_MEDICAL.Web.Areas.SMS.ViewModel.SecurityServiceHistoryViewModel

@using (Html.BeginForm("CreateOrEditServiceHistory", "SecurityPersonnelInfo"))
{
    <fieldset>
        <div class="message">
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="@Model.errClass">
                    @Model.Message
                </div>
            }
            @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
        </div>
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SecurityInfoId)
        @Html.HiddenFor(model => model.strMode)
        @Html.Partial("_EmpTopInfo", Model.EmpTop)
        <div class="GroupBox">
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Is_Intelligence) &nbsp;
                </span><span class="field">
                    @Html.EditorFor(model => model.Is_Intelligence)
                </span>
                <span class="label-right">
                    &nbsp;
                </span>
                <span class="field">
                    &nbsp;
                </span>
            </div>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.WorkZoneId)<label class="required-field"> *</label>
                </span><span class="field">
                    @Html.DropDownListFor(model => model.WorkZoneId, Model.ZoneList, @String.Format("{0}", Content.DDLOptionalLabel()))
                </span>
                <span class="label-right">
                    @Html.LabelFor(model => model.PeriodFrom)<label class="required-field">
                        *
                    </label>
                </span><span class="field">
                    @Html.EditorFor(model => model.PeriodFrom)
                </span>
            </div>
            <div class="row">

                <span class="label">
                    @Html.Label("Duration")
                </span>
                <span class="field">
                    @Html.TextBoxFor(model => model.StrDuration, new { @readonly = true })
                    @Html.HiddenFor(model => model.Duration)
                </span>
                <span class="label-right">
                    @Html.LabelFor(model => model.PeriodTo)
                </span><span class="field">
                    @Html.EditorFor(model => model.PeriodTo)
                </span>
                <div class="clear"></div>
            </div>
            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Award)
                </span><span class="field">
                    @Html.TextAreaFor(model => model.Award, new { @maxlength = 200 })
                </span>
                <span class="label-right">
                    @Html.LabelFor(model => model.DisciplineRecord)
                </span>
                <span class="field">
                    @Html.TextAreaFor(model => model.DisciplineRecord, new { @maxlength = 200 })
                </span>
            </div>

            <div class="row">
                <span class="label">
                    @Html.LabelFor(model => model.Remarks)
                </span><span class="field">
                    @Html.TextAreaFor(model => model.Remarks, new { @maxlength = 200 })
                </span>
                <span class="label-right">
                </span>
                <span class="field">
                </span>
            </div>

        </div>
        <div class="button-crude">
            @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsEditAssigned || (new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <input type="submit" value="@Model.ButtonText" />
            }&nbsp;
            @if (!(new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsViewAssigned)
            {
                @Html.ActionLink("Clear", "ServiceHistoryIndex/" + @Model.EmployeeId.ToString(), new { IsMenu = true, type = "Clear" })
            } &nbsp;
            @if (Model.DeleteEnable && (new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
            {
                @Html.ActionLink("Delete", "DeleteServiceHistory", new { id = Model.Id }, new { @class = "delete-confirm" })
            }
        </div>
        <div class="spacer">
        </div>
        <div class="spacer">
        </div>
        <table id="jqGrid" cellpadding="0" cellspacing="0"></table>
        <div id="jqGridPager" style="text-align: center;">
        </div>
        @Html.Partial("_EmpServiceHistoryList", Model)
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">


    function DeleteConfirm() {

        return confirm('Pressing OK will delete this record. Do you want to continue?')
    }

    function CalculateDate() {
        if ($('#PeriodTo').val() != '') {
            var start = $('#PeriodFrom').datepicker('getDate');
            var end = $('#PeriodTo').datepicker('getDate');
            var diff = new Date(end - start);
            var year = diff / 1000 / 60 / 60 / 24 / 365;
            year = year.toFixed(2);
            $('#Duration').val(year);

            $.get('@Url.Action("GetDuration", "SecurityPersonnelInfo")', { startDate: $('#PeriodFrom').val(), endDate: $('#PeriodTo').val() }, function (data) {
                if (data.Duration != null) {
                    $('#StrDuration').val(data.Duration);
                }
            });

        }
        else {
            $('#Duration').val("");
            $('#StrDuration').val("");
        }
    }

    $(function () {

        $('#PeriodFrom').live("change", function () {
            CalculateDate();
        })

        $('#PeriodTo').live("change", function () {
            CalculateDate();
        })

    });

</script>

@*<script type="text/javascript">

        $(function () {

            if ('@Model.InactiveDate' != '') {
                fnDisableEditMode();
                $(".delete-confirm").hide();
            }

        });

    </script>*@
