@model BEPZA_MEDICAL.Web.Areas.PMI.ViewModel.ProgressReport.ProgressReportDetailYearlyBilledViewModel
@using BEPZA_MEDICAL.Web.Helpers

@using (@Html.BeginHtmlFieldPrefix(Model.PreviousFieldId))
{
    using (Html.BeginCollectionItem("YearlyBilledList"))
    {
        <span class="yearly-billed-amount">
            @Html.TextBoxFor(m => m.BilledAmount,"{0:0.00}")
        </span>
        <span class="financial-year">
            @Html.HiddenFor(m => m.FinancialYearId)
        </span>
        <span class="other-field">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ProgressReportDetailsId)
        </span>
    }
}