@model BEPZA_MEDICAL.Web.Areas.WFM.ViewModel.VerifytheApplicationInfoViewModel

@{
    Layout = null;
}

<div id="message" class="form-group messageBox clearfix">
    @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
    @if (!string.IsNullOrEmpty(Model.ErrMsg))
    {
        <div id="ErrMsg" class="@Model.errClass">
            @Model.ErrMsg
        </div>
    }
</div>

<div class="form-horizontal">
    <fieldset>
        <legend>Verify the Application</legend>
        <div class="form-group" style="display:none">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.strMode)
            @Html.HiddenFor(model => model.ApplicationStatus)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantZoneInfoId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.ApplicantZoneInfoId, Model.ZoneList, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.SearchEmpId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.SearchEmpId, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, @String.Format("{0}", Content.DDLOptionalAllLabel()), new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.EmployeeName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.SectionId, Model.SectionList, @String.Format("{0}", Content.DDLOptionalAllLabel()), new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.WelfareFundCategoryId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.WelfareFundCategoryId, Model.WelfareFundCategoryList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CycleId, new { @class = "col-sm-2 control-label labelRequired" })
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">@Html.DropDownListFor(model => model.CycleId, Model.CycleList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control required" })</div>
                    <div class="col-sm-4">@Html.TextBoxFor(model => model.CycleName, new { @readonly = true, @class = "form-control read-only" })</div>
                </div>
            </div>
            @Html.LabelFor(model => model.Year, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.Year, Model.YearList, new { @class = "form-control" })
            </div>
        </div>

        <div class="text-right">
            <input id="btSearch" class="btn btn-success" type="button" value="Search" />
        </div>

            @*<div class="text-right">
                <button class="btn btn-success" id="btSearch"><i class="fa fa-search"></i> Search</button>
            </div>*@

        <div style="width: 100%">
            <table id="grid" class="contenttable" width="100%">
                <thead>
                    <tr>
                        <th width="10%" align="center">
                            Select
                        </th>
                        <th width="10%" align="center">
                            Employee ID
                        </th>
                        <th width="20%" align="center">
                            Employee Name
                        </th>
                        <th width="10%" align="center">
                           Designation
                        </th>
                        <th width="10%" align="center">
                            Department
                        </th>
                        <th width="10%" align="center">
                            Section
                        </th>
                        <th width="10%" align="center">
                            Applied Amount
                        </th>
                        <th width="10%" align="center">
                            Apply Date
                        </th>
                        <th width="5%" align="center">
                           View
                        </th>
                        <th width="5%" align="center">
                            History
                        </th>
                        <th width="10%" align="center">
                            Reject
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{ if (Model.strMode == "Edit") { Html.RenderPartial("_Details", Model); }}
                </tbody>
            </table>
        </div>

</fieldset>

    <fieldset>
        <legend>Verified By</legend>
        <div class="form-group" style="display:none">
            @Html.HiddenFor(model => model.VerifiedById)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedByName, new { @class = "col-sm-2 control-label labelRequired" })
            <img src='@Url.Content("~/Content/Images/btn_search.gif")' id="imgEmpSearch" alt="Search" onclick="return openEmployee();" />
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.VerifiedByName, new { @class = "form-control read-only required", @readonly = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedByDesignation, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.VerifiedByDesignation, new { @class = "form-control read-only", @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedByDepartment, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.VerifiedByDepartment, new { @class = "form-control read-only", @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VerifyDate, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.VerifyDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
            </div>
        </div>
</fieldset>
</div>

<div class="clear"></div>
<div id="divEmpList">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>
<br />
<div class="clear">
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#divEmpList").dialog({ autoOpen: false, modal: true, height: 600, width: 900, title: 'Employee', beforeclose: function (event, ui) { Closing(); } });
    });
    function openEmployee() {

        var url = '@Url.Action("EmployeeSearch", "OnlineWelfareFundApplicationInformation")?UseTypeEmpId=1';

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'text',
            timeout: 5000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
                $('#divEmpList').html(result);

            }
        });

        $("#divEmpList").dialog('open');
        return false;
    }

    function setEmpData(id) {

        $('#VerifiedById').val(id)
        GetEmployeeInfo();
        $("#divEmpList").dialog('close');

    }

    function GetEmployeeInfo() {
        var empId = $('#VerifiedById').val();
        var url = '@Url.Action("GetEmployeeInfo", "VerifytheApplicationInfo")';
        var form = $('#frm');
        var serializedForm = form.serialize();

        if (empId > 0) {
            $.post(url, serializedForm, function (obj) {
                $('#VerifiedByName').val(obj.EmployeeName);
                $("#VerifiedByDesignation").val(obj.Designation);
                $("#VerifiedByDepartment").val(obj.Department);
            }, "json");
        }

        return false;
    }

    function Closing() {

    }
</script>

<script type="text/javascript">
    $(function () {

        $('#btnSave').on('click', function () {
            $('#ApplicationStatus').prop('value', 'Verified');
        })
        $('#btnCancel').on('click', function () {
            $('#ApplicationStatus').prop('value', 'Canceled');
        })
        $("#btSearch").on('click', function () {
            $("#message").empty();
            $("#CycleId").removeClass("border-red");
            $("#WelfareFundCategoryId").removeClass("border-red");

            if ($("#CycleId").val() == null || $("#CycleId").val() == "" || $("#CycleId").val()==0) {
                $("#CycleId").addClass("border-red");
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span> Please fill up the red marked field(s)</span>  </div> ");
                return;
            }
            if ($("#WelfareFundCategoryId").val() == null || $("#WelfareFundCategoryId").val() == "" || $("#WelfareFundCategoryId").val() == 0) {
                $("#WelfareFundCategoryId").addClass("border-red");
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span> Please fill up the red marked field(s)</span>  </div> ");
                return;
            }

            LoadEmployee($("#ApplicantZoneInfoId").val(), $("#DepartmentId").val(), $("#SectionId").val(), $("#CycleId").val(), $("#Year").val(), $("#WelfareFundCategoryId").val());
        });
        var loadEmpUrl = "@Url.Action("GetEmployeeList")";

        function LoadEmployee(zoneInfoId, departmentId, sectionId, cycleId, year, welfareFundCategoryId) {

                if (zoneInfoId != "" && zoneInfoId != undefined) {
                    $.ajax({
                        type: "GET",
                        url: loadEmpUrl,
                        data: { zoneInfoId: zoneInfoId, departmentId: departmentId, sectionId: sectionId, cycleId: cycleId, year: year, welfareFundCategoryId: welfareFundCategoryId },
                        success: (function (result) {
                            $("#grid tbody").html(result);
                        })
                    });

                }
                else
                    $("#ErrorMessage").show().html("<b> Required Shift Information</b>").css("color", "red");
            }
    });

    function RemoveDb(el, id, url) {
        if (id == 0 || id == undefined) {
            $(el).parent().parent().remove();
        }
        else {
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ Id: id }),
                contentType: "application/json; charset=utf-8",
                error: function () {
                    $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span> System Error!</span>  </div> ");
                },
                success: function (result) {
                    $(el).parent().parent().remove();
                }
            });
        }
    }
</script>

<script type="text/javascript">

    $("#CycleId").on('change', function () {
        getCyleMonthByCycleId($(this).val());
    });

    function getCyleMonthByCycleId(Id) {
        $("#CycleName").val('');
        if (Id > 0) {
            var url = '@Url.Action("GetCycleMonth", "Cycle")' + '?Id=' + Id;
            $.get(url, function (response) {
                $("#CycleName").val(response);
            });
        }
    }

</script>

@*View*@

<div id="divView">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#divView").dialog({ autoOpen: false, modal: true, height: 600, width: 800, title: 'View Applicant Information', beforeclose: function (event, ui) { Closing(); } });
    });

    function ViewApplicantInfo(el, employeeId) {

        var url = '@Url.Action("ViewApplicantInfo", "VerifytheApplicationInfo")';
        if (employeeId > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { employeeId: employeeId},
                error: function () {
                    alert('System is unable to load data please try again.');
                },
                success: function (result) {
                    $('#divView').html(result);
                }
            });

            $("#divView").dialog('open');
            return false;
        }
    }

    function Closing() {

    }

</script>

@*View End*@

@*History*@

<div id="divHistory">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#divHistory").dialog({ autoOpen: false, modal: true, height: 300, width: 700, title: 'View Applicant History', beforeclose: function (event, ui) { Closing(); } });
    });

    function ViewHistory(el, employeeId) {

        var url = '@Url.Action("ViewApplicantHistory", "VerifytheApplicationInfo")';
        if (employeeId > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { employeeId: employeeId },
                error: function () {
                    alert('System is unable to load data please try again.');
                },
                success: function (result) {
                    $('#divHistory').html(result);
                }
            });

            $("#divHistory").dialog('open');
            return false;
        }
    }

    function Closing() {

    }

</script>

@*History End*@

<script type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function () {
            var applicantZoneInfoId = $('#ApplicantZoneInfoId').val();
            var verifiedById = $('#VerifiedById').val();

            if (applicantZoneInfoId == null || applicantZoneInfoId == 0 || applicantZoneInfoId == "") {
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span> Please fill up the red marked field(s)</span>  </div> ");
                return false;
            }
            if (verifiedById == null || verifiedById == 0 || verifiedById == "") {
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span> Please fill up the red marked field(s)</span>  </div> ");
                return false;
            }

            var rows = $('.contenttable').find('tr').length
            if (rows == 1 || rows < 1) {
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span>Sorry! Row is not available.</span>  </div> ");
                return false;
            }

            var selectedAppCount = $('.contenttable').find('input[type="checkbox"]:checked').length;
            if (selectedAppCount == 0 || selectedAppCount < 0) {
                $("#message").html("<div class=\"validation-summary-errors\" data-valmsg-summary=\"true\"> <span>Please, select at least one Row.</span> </div> ");
                return false;
            }

        });
    });
</script>


