@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.PracticeViewModel

@{
    Layout = null;
}

            @*@Html.HiddenFor(model => model.PracticeId)*@
          
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.PracticeName)
        </span><span class="field">
            @Html.EditorFor(model => model.PracticeName)
            <label>Percentage (%)</label>
        </span>
    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Address)
        </span><span class="field">
            @Html.EditorFor(model => model.Address)
            <label>Percentage (%)</label>
        </span>
    </div>
<div class="row">
    <span class="label">
        @Html.LabelFor(model => model.PhoneNo)
    </span><span class="field">
        @Html.EditorFor(model => model.PhoneNo)
        <label>Percentage (%)</label>
    </span>
</div>
   
<div class="clear">
</div>

@*<script type="text/javascript">

    $('#btnAdd').live('click', function () {

        $('#message').empty();
        var QuotaNameId=$('#QuotaNameId').val();;
        var QuotaName = $("#QuotaNameId option:selected").text();
        var firstAndSecond=$("#FirstAndSecondClsOfficer").val();
        var thirdAndFourth = $("#ThirdAndForthClsStaff").val();

        var trClone = '<tr>' +
             '<td style="display: none;">' + '<input type="text" value="0" name="QuotaInfoList[i].Id"></td>' +
             '<td style="display: none;">' + '<input type="text" name="QuotaInfoList[i].QuotaNameId" value="' + QuotaNameId + '"></td>' +

             '<td>' + '<label for="QuotaNameId">' + QuotaName + '</td>' +
              '<td>' + '<label for="FirstAndSecondClsOfficer">' + firstAndSecond + '</td>' +
             '<td>' + '<label for="ThirdAndForthClsStaff" >' + thirdAndFourth + '</td>' +
             '<td>' + '<a class="deleteRow fixeddeleteRow" title="delete"><img src="/Content/Images/Delete.png" style="border: none;" alt="delete"></a></td>' +
             '</tr>';
        $('#grid tbody').append(trClone);

        RearrengeControlName();
    })


    $('#btnClear').live('click', function () {
        document.getElementById('frm').reset();
        $('#btnAdd').show();
    })

    function RearrengeControlName() {
        $('#grid tbody tr').each(function (outIndex) {
            $(this).find('td').each(function (innerIndex) {
                if ($(this).find('input').length > 0) {
                    $(this).find('input').attr('name', $(this).find('input').attr('name').replace(/\[(.*?)\]/, '[' + outIndex + ']'));

                }
            })
        })
    }

    function deleteRecord(recordId) {
        if (recordId > 0) {
            $.ajax({
                type: "post",
                url: "@Url.Action("DeleteClearanceChecklistDetail", "ClearanceChecklist")",
                data: { id: recordId },
                ajaxasync: true,
                success: function () {
                    //alert("success");
                },
                error: function (data) {
                    //alert(data.x);
                }
            });
        }
        else {
            $('.row a.deleteRow').live('click', function () {
                if ($('#grid tbody tr').length > 0)
                    $(this).parent().parent().remove();

                RearrengeControlName();
            })
        }
        RearrengeControlName();
    }

</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        showErrMsg();
    });

    function showErrMsg() {
        if ('@Model.errClass' == "success" && '@Model.IsError' == "0") {
            $('#btnSave').hide();
        }
    }
    $(function () {
        var Url = window.location.href;
        $("#btnClear").live("click", function (event) {
            event.preventDefault();
            window.location.href = Url;
        });
    });

    $('#btnClear').live('click', function () {
        document.getElementById('frm').reset();
        $('#btnAdd').show();
    })

</script>

