

<script type="text/javascript">

</script>
<style>
    .ui-datepicker-trigger {
        z-index: 1000;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('#jqGrid').jqGrid({
            url: '@Url.Action("GetList")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['ID', 'Issue Date Between', 'To', 'Indent Date Between', 'To', 'Issue#', 'Indent#', 'Issue Date', 'Indent Date', 'Issued To', 'Issued By','Delete'],
                colModel: [
                            { name: 'Id', index: 'Id', align: 'left', search: false, hidden: true, edittype: 'text' },
                            { name: 'IssueDateFrom', index: 'IssueDateFrom', align: 'left', search: true, hidden: true, edittype: 'text' },
                            { name: 'IssueDateTo', index: 'IssueDateTo', align: 'left', search: true, hidden: true, edittype: 'text' },
                            { name: 'IndentDateFrom', index: 'IndentDateFrom', align: 'left', search: true, hidden: true, edittype: 'text' },
                            { name: 'IndentDateTo', index: 'IndentDateTo', align: 'left', search: true, hidden: true, edittype: 'text' },
                            { name: 'IssueNo', index: 'IssueNo', align: 'left', search: true, width: '50px', edittype: 'text', formatter: viewformatEdiorLink },
                            { name: 'IndentNo', index: 'IndentNo', align: 'left', search: true, width: '50px', edittype: 'text' },
                            { name: 'IssueDate', index: 'IssueDate', align: 'center', search: false, width: '50px', edittype: 'text' },
                            { name: 'IndentDate', index: 'IndentDate', align: 'center', search: false, width: '50px', edittype: 'text' },
                            { name: 'IssuedTo', index: 'IssuedTo', align: 'left', search: true, width: '100px', edittype: 'text' },
                            { name: 'IssuedBy', index: 'IssuedBy', align: 'left', search: true, width: '100px', edittype: 'text' },
                            { name: 'Delete', index: 'Delete', align: 'right', search: false, hidden: IsDeleteAssigned, sortable: false, width: '20px', edittype: 'image', formatter: deleteformateadorLink }
                            
            ],
            autowidth: true,
            caption: "Item Issue Info",
            rowList: [20, 30, 40, 50, 100],
            pager: $('#jqgridpager'),
            rowNum: 20,
            viewrecords: true,
            height: '100%',
            width: '50%'
        });
        // Pager Function
        $("#jqSearch").jqGrid('filterGrid', '#jqGrid', { gridModel: true, gridNames: true, formtype: 'horizontal', autosearch: false, enableSearch: true, enableClear: true });

    });

    function deleteformateadorLink(cellvalue, options, rowObject) {
        var url = '@Html.ActionLink(" ", "Delete", new { id = "_id_" }, new { @class = "deleteItem" })';
        url = url.replace(/_id_/, rowObject[0]);
        return url;
    }
    function viewformatEdiorLink(cellvalue, options, rowObject) {

        var url = '@Html.ActionLink("_name_", "Edit", new { id = "_id_" })';
        url = url.replace(/_name_/, cellvalue);
        url = url.replace(/_id_/, rowObject[0]);
        return url;
    }
</script>

<script type="text/javascript">
    $(function () {

        $("a.deleteItem").live("click", function () {
            deleteLinkObj = $(this);  //for future use
            $('#delete-dialog').dialog('open');
            return false; // prevents the default behaviour
        });
        $('#sg_IssueDateFrom, #sg_IssueDateTo,#sg_IndentDateFrom, #sg_IndentDateTo').datepicker({ buttonImage: '@Url.Content("~/Content/Images/calendar-blue.gif")', dateFormat: 'dd-mm-yy', buttonImageOnly: true, showOn: "button", buttonText: 'Choose' });
        $('#sg_ComplaintDate').datepicker({ buttonImage: '@Url.Content("~/Content/Images/calendar-blue.gif")', dateFormat: 'dd-mm-yy', buttonImageOnly: true, showOn: "button", buttonText: 'Choose' });
    });

</script>
<script type="text/javascript">

    function handleDeleteSuccess() {
    }
    function handleDeleteFailure() {
        $("#message").show().html('There is an Ajax call back error!');
    }
    function JsonDelete_OnComplete(context) {
        var obj = eval("(" + context.responseText + ")");
        if (obj.Success) {
            $("#message").show().html("<b>" + obj.Message + "</b>").css("color", "Green");
            $('#sButton').trigger('click');
        }
        else {
            $("#message").show().html("<b>" + obj.Message + "</b>").css("color", "red");
        }
    }

</script>


<div class="clear">
</div>



