@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.RecruitmentQualificationInfoViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PRM/Views/Shared/_LayoutNew.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "RecruitmentQualificationInfo", FormMethod.Post, new { id = "frm", @encType = "multipart/form-data" }))
{
    <fieldset>
        <div class="GroupBox" id="message">
            @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="ErrMsg" class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
        </div>
        @Html.Partial("_CreateOrEdit", Model)
        <div class="col-sm-9 col-sm-offset-3 text-right">
            @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <button class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>

                @*<input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />*@
            }
            <a href="@Url.Action("Index")" class="btn btn-warning"> <i class="fa fa-backward"></i> Back</a>
        </div>
    </fieldset>
}
