@model ERP_BEPZA.Web.Areas.CPF.Models.LoanApplication.LoanApplicationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/CPF/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "LoanApplication", FormMethod.Post, new { id = "frm" }))
{
    
    <fieldset>
        <div class="GroupBox" id="message" style="min-height: 15px;">
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div style="color: Red">
                    @Model.ErrMsg
                </div>
            }
            @Html.ValidationSummary(false, ERP_BEPZA.Web.Utility.Common.ValidationSummaryHead)
        </div>
        <div id="appDiv">
            @Html.Partial("_CreateOrEdit", Model)
        </div>
        <br />
        <div id="appring">
            <div class="button-center buttonSubmit">
                @if ((new ERP_BEPZA.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input id="btnSave" type="submit" value="Submit" style="width: auto; overflow: visible;
                        padding-left: .25em;" />
                }
                <input id="btnPrint" type="button" value="Print" style="width: auto; overflow: visible;
                    padding-left: .25em; padding-right: .25em;" onclick="JavaScript:printPartOfPage('appDiv');" />
              
            </div>
        </div>
    </fieldset>
}
<div class=" button-crude button-left ">
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">


    $('#btnSave').live('click', function () {

        $('#ApplicationStatusId').val(2);

    });

    function printPartOfPage(elementId) {
        printDivCSS = new String('<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">')
        var reportHeader = "My Loan Application";
        var printContent = document.getElementById(elementId);
        var uperPart = printDivCSS + document.getElementById('appDiv').innerHTML;
        //        var uperPart = "Upper";
        //        var printedBy = $('#<%= hdfPrintedby.ClientID %>').val();
        //        var printedBy = "Anwar";
        var windowUrl = 'about:blank';
        var uniqueName = new Date();
        var windowName = 'Print' + uniqueName.getTime();
        //        var printWindow = window.open(windowUrl, windowName, 'left=2000,top=60000,width=20000,height=30000');
        var printWindow = window.open(windowUrl, windowName, 'left=0,top=60,width=2000,height=3000');

        //        printWindow.document.write("<div align='center'>" + "<h2>" + reportHeader + "</h2>" + "</div>" + uperPart + "<br>" + "<div align='right' style='padding-right: 5%;position: absolute;bottom:0px'>" + printedBy + "</div>");
        printWindow.document.write("<div align='center'>" + "<h2>" + reportHeader + "</h2>" + "</div>" + uperPart);
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();
        printWindow.close();
    }



    //    $("#ShowApproval").click(function () {
    //        $(".History").toggle("slow");
    //    });

   
</script>
