@model BEPZA_MEDICAL.Web.Areas.FAM.Models.DivisionUnitBudgetAllocation.BudgetAllocation
@using BEPZA_MEDICAL.Web.Helpers
@using (Html.BeginCollectionItem("BudgetAllocationList"))
{
    <tr  style=" height:auto" >
        <td>
            @Html.HiddenFor(model => model.AccountHeadId)
            @Html.TextBoxFor(model => model.AccountHeadName, new { @readonly = true, @style = "width: 320px;" })
            @Html.HiddenFor(model => model.AccountHeadName)
        </td>
    
        <td style="text-align: right;">
            @Html.TextBoxFor(model => model.Amount, new {@style = "cursor:default;text-align:right; width: 120px;" })
            @Html.HiddenFor(model=> model.RevisedAmount)
        </td>
            
        <td>
            @Html.TextBoxFor(model => model.AccountHeadType, new { @readonly = true,@style="text-align:center; width:100px" })
        </td>
    </tr>
}
