@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.AcceptanceLetterInfoViewModel
@using BEPZA_MEDICAL.Web.Helpers

<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.ApplicantInfoId)
            @Html.LabelFor(model => model.SelectedId, new { @class = "label-required" })
        </span><span class="field">
            @Html.TextBoxFor(model => model.SelectedId, new { @class = "read-only", @readonly = true })
            <img src='@Url.Content("~/Content/Images/btn_search.gif")' id="imgEmpSearch" alt="Search" onclick="return openSelectedApplicant();" />
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.DateOfAcceptance)
        </span><span class="field">
            @Html.EditorFor(model => model.DateOfAcceptance)
        </span>
    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.ApplicantName)
            <label class="required-field">
                *
            </label>
        </span><span class="field">
            @Html.TextBoxFor(model => model.ApplicantName, new { @class = "read-only", @readonly = true })
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.DateOfJoining)
        </span><span class="field">
            @Html.EditorFor(model => model.DateOfJoining)
        </span>

    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.ApplicantPosition)
            <label class="required-field">
                *
            </label>
        </span><span class="field">
            @Html.TextBoxFor(model => model.ApplicantPosition, new { @class = "read-only", @readonly = true })
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.RefNo)
        </span><span class="field">
            @Html.TextBoxFor(model => model.RefNo)
        </span>
    </div>
    <div class="row">
        <span class="label" style="width:17%">
            @Html.LabelFor(model => model.IsMedicalVerified)
        </span><span class="field">
            @Html.CheckBoxFor(model => model.IsMedicalVerified)
        </span>
    </div>
    <div class="row">
        <span class="label" style="width:17%">
            @Html.LabelFor(model => model.IsWealthVerified)
        </span><span class="field">
            @Html.CheckBoxFor(model => model.IsWealthVerified)
        </span>
    </div>
    <div class="row">
        <span class="label" style="width:17%">
            @Html.LabelFor(model => model.IsPoliceVerified)
        </span><span class="field">
            @Html.CheckBoxFor(model => model.IsPoliceVerified)
        </span>
    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Remarks)
        </span><span class="field" style="width:80%">
            @Html.TextBoxFor(model => model.Remarks)
        </span>
    </div>

    </div>

<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Subject)
        </span><span class="field" style="width:80%">
            @Html.TextBoxFor(model => model.Subject)
        </span>
    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Body)
            <label class="required-field">
                *
            </label>
        </span><span class="field" style="width:80%">
            @Html.EditorFor(model => model.Body, new { rows = "10" })
        </span>
        <div class="clear"></div>
    </div>
</div>
<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.EmpId)
            <label class="required-field">
                *
            </label>
        </span><span class="field">
            @Html.TextBoxFor(model => model.EmpId, new { @class = "read-only", @style = "width:150px", @readonly = true })
            <img src='@Url.Content("~/Content/Images/btn_search.gif")' id="imgEmpSearch" alt="Search" onclick="return openEmployee();" />
        </span>
    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.EmployeeName)
        </span><span class="field">
            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "read-only", @readonly = true })
        </span>

    </div>
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.DesignationName)
        </span><span class="field">
            @Html.TextBoxFor(model => model.DesignationName, new { @class = "read-only", @readonly = true })
        </span>

    </div>
</div>
<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.CC)
        </span><span class="field">
            @Html.EditorFor(model => model.CC)

        </span>
    </div>
    <div class="clear">
    </div>
</div>

<div class="clear">
</div>

@*Selected Applicant Info*@

<div id="divSelectedApplicantList">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>

<script type="text/javascript">
    // ******** functions for open popup *************
    $(document).ready(function () {
        $("#divSelectedApplicantList").dialog({ autoOpen: false, modal: true, height: 600, width: 940, title: 'Selected Applicant', beforeclose: function (event, ui) { ClosingSelectedApplicantPopUp(); } });
         showErrMsg();
    });

    function showErrMsg() {
        if ('@Model.IsError' == "1") {
            var msg = '@Model.ErrMsg'.replace(/#/gi, "<br/>* ");
            $("#message").html("<b>" + msg + "</b>").css("color", "red");
        }
    }

    function openSelectedApplicant() {
        var url = '@Url.Action("SelectedApplicantSearch", "AppointmentLetterInfo")';

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'text',
            timeout: 5000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
                $('#divSelectedApplicantList').html(result);
            }
        });

        $("#divSelectedApplicantList").dialog('open');

        return false;
    }

    function setApplicantData(id) {
        GetSelectedApplicantInfo(id);
        $("#divSelectedApplicantList").dialog('close');

    }

    function ClosingSelectedApplicantPopUp() {

    }

    // ---------------------------------

    function GetSelectedApplicantInfo(id) {

        var url = '@Url.Action("GetSelectedApplicantInfo", "AppointmentLetterInfo")';
        if (id > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ id: id }),
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    $('#SelectedId').val(obj.SelectedId);
                    $("#ApplicantName").val(obj.ApplicantName);
                    $('#ApplicantPosition').val(obj.DesignationName);
                    $('#ApplicantInfoId').val(obj.ApplicantInfoId);
                },
                failure: function (response) {
                    //alert(response.d);
                }
            });
        }
    }

</script>

@*End Selected Applicant Info*@






@*Employee Info*@

<div id="divEmpList">
    <iframe id="styleAdvance" src="" width="99%" height="98%" style="border: 0px solid white;
        padding-right: 0px;">
        <p>
            Your browser does not support iframes.
        </p>
    </iframe>
</div>

<script type="text/javascript">
    // ******** functions for open popup *************
    $(document).ready(function () {

        $("#divEmpList").dialog({ autoOpen: false, modal: true, height: 600, width: 940, title: 'Employee', beforeclose: function (event, ui) { Closing(); } });
        showErrMsg();
    });

    function showErrMsg() {
        if ('@Model.IsError' == "1") {
            var msg = '@Model.ErrMsg'.replace(/#/gi, "<br/>* ");
            $("#message").html("<b>" + msg + "</b>").css("color", "red");
        }
    }

    function openEmployee() {

        var url = '@Url.Action("EmployeeSearch", "Employee")?searchEmpType=active';

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'text',
            timeout: 5000,
            error: function () {
                alert('System is unable to load data please try again.');
            },
            success: function (result) {
                $('#divEmpList').html(result);
            }
        });

        $("#divEmpList").dialog('open');

        return false;
    }

    function setData(id) {
        $('#EmployeeId').val(id)
        GetEmployeeInfo(id);
        $("#divEmpList").dialog('close');

    }

    function Closing() {

    }
    // ---------------------------------

    function GetEmployeeInfo(empId) {
        var url = '@Url.Action("GetEmployeeInfo", "AppointmentLetterInfo")';
        if (empId > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ empId: empId }),
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    $("#EmpId").val(obj.EmpId);
                    $('#EmployeeName').val(obj.EmployeeName);
                    $('#DesignationName').val(obj.Designation);

                },
                failure: function (response) {
                    //alert(response.d);
                }
            });
        }
    }

</script>
@*End Employee Info*@
<script type="text/javascript">
    $(document).ready(function () {
        showErrMsg();
    });

    function showErrMsg() {
        if ('@Model.errClass' == "success" && '@Model.IsError' == "0") {
            $('#btnSave').hide();
        }
    }
    $(function () {
        var Url = window.location.href;
        $("#btnClear").live("click", function (event) {
            event.preventDefault();
            window.location.href = Url;
        });
    });

    $('#btnClear').live('click', function () {
        document.getElementById('frm').reset();
        $('#btnAdd').show();
    })
</script>



