@model BEPZA_MEDICAL.Web.Areas.PMI.ViewModel.HeadViewModel

<div class="form-horizontal">
    <fieldset>
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(m => m.ParentHeadId, new { @class = "col-sm-2 default-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.ParentHeadId, Model.ParentHeadList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HeadName, new { @class = "col-sm-2 default-label labelRequired" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.HeadName, new { @style = @"width:100%" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-4">
                @Html.CheckBoxFor(m => m.IsParentHead)
                @Html.LabelFor(model => model.IsParentHead)
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-4">
                @Html.CheckBoxFor(m => m.IsSubledger)
                @Html.LabelFor(model => model.IsSubledger)
            </div>
        </div>
    </fieldset>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        buttonHide();
        $('#ParentHeadId').select2();
    });

    $(function () {
        var Url = window.location.href;
        $("#btnClear").click(function(event){
            event.preventDefault();
            window.location.href = Url;
        });
    });

    function buttonHide() {
        if ('@Model.errClass' == "success" && '@Model.IsError' == "0") {
            $('input[name="btnSave"]').hide();
        }
    }

</script>

<style type="text/css">
    .labelRequired:after {
        content: '*';
        color: red;
    }
</style>
