

@model ERP_BEPZA.Web.Areas.CPF.Models.BankReconciliationViewModel.BankReconciliationDetailViewModel
@using ERP_BEPZA.Web.Helpers

<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("CreditList"))
    {          
        if (Model.Mode== "Edit")
        {
            @Html.HiddenFor(model => model.IsReconciled)            
        }
        if (Model != null)
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ReconciledId)
            @Html.HiddenFor(model => model.VoucherId)
            @Html.HiddenFor(model => model.TransactionType)
        }
        <td style="text-align: center;">
           @Html.CheckBoxFor(model => model.IsReconciled, new { @class = "IsDebitReconciled" })
        </td>
       
        <td style="text-align: center">
            @Html.EditorFor(model => model.VoucherNo)
        </td>
        <td style="text-align: center;">
            @Html.EditorFor(model => model.ReceiveFrom)
        </td>
       
        <td style="text-align: center;">
            @Html.EditorFor(model => model.ChequeNo)
        </td>

        <td style="text-align: center;">
            @Html.EditorFor(model => model.ChequeDate)
        </td>
       
        <td style="text-align: center">
            @Html.EditorFor(model => model.ClearAmount)
        </td>        
        <td style="text-align: center;">
            @Html.EditorFor(model => model.ClearDate)
        </td>
       
         
    }
</tr>
